*{
    color: white;
}
.whole-container{
    width: 100vw; 
    height: 92.7vh;
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    border-right: 0.5px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    border-right: 0.5px solid black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    border-right: 0.5px solid black;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-container{
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* mat-grid-tile {
    background: rgb(37, 37, 37);

} */
/* .inOurStore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 1px solid white;
    overflow-y: auto;
    
} */
/* .available-products::-webkit-scrollbar{
    display: none;
}

.available-products{
    width: 35%;
    height: 350%;
    margin: 10px;
    overflow-y: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}
.num-of-orders{
    width: 35%;
    height: 35%;
    margin: 10px;
} */
/* mat-grid-list{
    background: rgb(0, 0, 0);
} */
h3{
    margin: 10px;
    font-family: 'Play', sans-serif;

}
h2{
    font-family: 'Play', sans-serif;

}
.inputs{
    margin-top: 20px;
    width: 90%;
    font-family: 'Play', sans-serif;

}
button{
    /* margin: 10px; */
    font-family: 'Play', sans-serif;

}
span{
    margin: 10px;
}