@import url('https://fonts.googleapis.com/css?family=Play&display=swap');
*{
    color: white;
}
.whole-container{
    width: 100vw; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.left{
    border-right: 0.5px solid black;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle{
    border-right: 0.5px solid black;
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    border-right: 0.5px solid black;
    height: 100%;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-container{
    position: absolute;
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    margin: 10px;
    font-family: 'Play', sans-serif;

}
h2{
    font-family: 'Play', sans-serif;

}
.inputs{
    margin-top: 20px;
    width: 90%;
    font-family: 'Play', sans-serif;

}
button{
    font-family: 'Play', sans-serif;

}
span{
    margin: 10px;
}
@media screen and (max-width: 600px) {

    .whole-container{
        width: 100vw; 
        height: 93vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .left{
        height: 850px;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .middle{
        display: none;
    }
    .right{
        display: none;
    }


}