
*{
    color: white;
}
.toolBar{
    height: 40px;
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid rgb(194, 24, 91);
    background-color: rgb(167, 21, 79);
}
.full-list-container{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    justify-content: center;
    overflow: hidden;
}
.list-container{
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    padding: 30px;
    margin: 15px;
    transition: all 1s;
    align-items: center;
}
.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
mat-grid-tile {
    background: rgb(37, 37, 37);
}
mat-grid-list{
    background: rgb(0, 0, 0);
}
mat-form-field{
    margin: 5px;
}
.example-card {
    width: 300px;
    height: 450px;
    margin: 15px;
    opacity: 0.6;
    background-color: rgb(20, 19, 19);
    color: white;
    font-family: 'Play', sans-serif;
    padding-left: 0;
    padding-right: 0;
    transition: ease-in-out all 0.15s;
    transition-delay: 0.05s;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);

}
.example-card:hover{
    opacity: 1;
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.example-header-image {
    background-size: cover;
}
mat-card-actions {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
 }
 .product-img{
    margin: 0;
    height: 65%;
    width: 100%;
}
h3{
    margin: 15px;
    font-family: 'Play', sans-serif;
}
.editBtn, .addBtn{
    margin: 10px;
}
.example-button-container {
    position: fixed;
    right: 20px; 
    bottom: 20px;
}
.example-button-container:hover{
    opacity: 0.8;
}
.list-container::-webkit-scrollbar{
    display: none;
}